.container {
  margin: auto;
  width: 500px;
  max-height: 960px;
  background: #333;
  padding: 30px;
  border-radius: 3px;
}

.form {
  width: 100%;
  height: 100%;
}
h3 {
  color: #fff;
}
.label {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #fff;
}

.input {
  margin-top: 5px;
  padding: 5px;
  border: none;
  background: #0008;
  width: 100%;
  color: #fff8;
}

.select {
  margin-top: 5px;
  padding: 8px;
  width: 100%;
  background: #0008;
  border: none;
  color: #fff8;
}

.button {
  display: block;
  margin: auto;
  margin-top: 5px;
}

.selectedWaists {
  margin-top: 5px;
  list-style: none;
  padding: 0;
  color: #ff0000;
}

.selectedWaistsItem {
  display: flex;
  gap: 10px;
  align-items: center;
}

.selectedWaistsButton {
  margin-left: 5px;
  padding: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 25%; /* Agregamos esto para hacerlo redondo */
  cursor: pointer;
}

.thumbnailContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.img {
  width: 100px; /* Ajusta el ancho de la miniatura según tus necesidades */
  height: auto;
  margin-left: 250px;
  border: 2px solid #0d6efd;
  cursor: pointer;
}


.input2 {
  cursor: pointer;
  color: #fff8;
  background: #0008;
  padding: 5px;
  width: 100%;
}

.errorText {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
  margin-bottom: 10px;
}
