.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.buttonPrev, .buttonNext, .button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; /* Asegura que todos los botones tengan la misma altura */
}

.buttonPrev:disabled, .buttonNext:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.buttonPrev:hover:not(:disabled), .buttonNext:hover:not(:disabled), .button:hover {
  background-color: #0056b3;
}

.button.active {
  background-color: #0056b3;
  font-weight: bold;
}

.ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 600px) {
  .pagination {
    flex-wrap: wrap;
  }

  .button {
    margin: 4px;
  }

  .buttonPrev {
    margin-right: 4px;
    margin-left: 0;
  }

  .buttonNext {
    margin-left: 4px;
    margin-right: 0;
  }
}
