.container {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra horizontalmente los elementos */
    padding: 20px;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centrar tarjetas */
    padding: 20px;
    width: 100%; /* Asegurar que el contenedor ocupe todo el ancho */
    max-width: 1200px; /* Limitar el ancho máximo para evitar estiramiento excesivo */
}

.card {
    flex: 1 0 calc(33.33% - 40px); /* Tres tarjetas por fila con espacio entre ellas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    max-width: calc(33.33% - 40px); /* Asegura que no crezcan más de 33.33% del contenedor */
}

.card:hover {
    transform: scale(1.05);
}

.imageContainer {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    padding: 10px;
    text-align: center;
}

.name {
    font-size: 1em;
    margin: 10px 0;
}

.price {
    font-size: 0.9em;
    color: #888;
}