.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Aumentar el espacio entre las tarjetas */
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

.card {
    flex: 1 0 calc(33.33% - 60px); /* Ajustar para el nuevo gap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    max-width: calc(33.33% - 60px); /* Asegura que no crezcan más de 33.33% del contenedor */
    height: auto;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
}

.imageContainer {
    width: 100%;
    height: 200px; /* Ajustar la altura para dejar espacio para el título y el precio */
    overflow: hidden;
    flex: none;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    flex: 1 0 auto; /* Permitir que el contenedor de información crezca */
}

.name {
    font-size: 1em;
    margin: 5px 0;
}

.price {
    font-size: 0.9em;
    color: #888;
    margin: 5px 0;
}