.carrouselContainer {
  width: 100%;
  margin: 20px auto;
}

.productContainer {
  text-align: center;
  padding: 10px;
  width: 220px;
}

.imageContainer {
  width: 100%;
  height: 0;
  padding-bottom: 50%; /* Proporción 4:3 (ajusta según la relación de aspecto deseada) */
  position: relative;
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ajusta la imagen para que cubra completamente su contenedor */
  position: absolute;
  top: 0;
  left: 0;
}

.productDetails {
  margin-top: 10px;
}

.productTitle {
  margin-top: 10px;
  font-size: 16px;
}

.productPrice {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

@media only screen and (max-width: 767px) {
  .product-container {
    width: 100%; /* Ancho completo para dispositivos móviles */
  }

  .product-image-container {
    height: 120px; /* Altura fija para la imagen en dispositivos móviles */
  }
}
