.container {
  display: flex;
  width: 96%;
  height: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #f2f2f2;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  padding: 5px;
  font-size: 16px;
}

.button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.refresh {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.img {
  width: 20px;
  height: 20px;
}

.sortContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select {
  padding: 5px;
  font-size: 16px;
}

.option {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
  }

  .inputContainer {
    flex-direction: column;
    align-items: stretch;
  }

  .input {
    width: 100%;
  }

  .button,
  .refresh {
    width: 100%;
  }

  .select {
    width: 100%;
  }
}
