.sidebar {
    position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1; /* Asegura que la barra lateral esté encima del contenido */
  }
  
  /* Estilos para los enlaces en la barra lateral */
  .ul {
    list-style-type: none; /* Quita el marcador de lista */
    padding: 0;
    margin: 0;
  }
  
  .li {
    margin-bottom: 10px;
  }
  
  .a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #fff;
    font-size: 16px;
  }
  
  .a:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el ratón sobre el enlace */
  }

  .profile {
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
    justify-content: center;
    align-items: center; /* Centra el contenido horizontalmente */
    margin-bottom: 20px;
  }

  .userName {
    margin-top: 10px; /* Espacio entre la imagen y el nombre */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Grosor de la fuente */
  }
  
  .profileImage, .profileIcon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }