@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Outfit:wght@200;300;400;700&family=Overpass:wght@400;700&display=swap");

.container {
  display: grid;
  width: 100vw;
  grid-template-columns: 8fr 2fr 2fr 1fr 1fr;
  grid-template-rows: 70px;
  align-items: center;
  justify-items: end;
  background-color: #333;
  height: 70px;
  font-family: "Outfit", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.logo {
  justify-self: start;
  width: 130px;
  height: 130px;
}

.link {
  color: #fff;
  text-decoration: none;
  margin: 0 50px; /* Ajusta el espaciado entre los enlaces */
  transition: color 0.3s ease;

  &:hover {
    color: #00bcd4;
  }
}

.globeContainer {
  cursor: pointer;
}

.globe {
  width: 20px;
  height: 20px;
}

.mobileMenuButton {
  display: none; /* Oculta el botón del menú hamburguesa en pantallas más grandes */
  cursor: pointer;
}

/* Media query para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
  .container {
  }

  .mobileMenuButtonContainer {
    margin-left: 30px;
    margin-top: -29px;
  }

  .link {
    margin: 10px 0; /* Espaciado entre los enlaces en dispositivos móviles */
    display: none;
  }

  .mobileMenuButton {
    display: block; /* Muestra el botón del menú hamburguesa en dispositivos móviles */
  }
}
