.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
  grid-template-rows: 70px;
  align-items: center;
  justify-items: end;
  height: 70px;
  font-family: "Outfit", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(88, 88, 88, 0.2);
}

.logo {
  justify-self: start;
  padding-left: 20px;
  width: 130px;
  height: 130px;
}

.mobileMenuButtonContainer {
  display: flex;
  align-items: center;
}

.mobileMenuButton {
  display: none; /* Oculta el botón del menú hamburguesa en pantallas más grandes */
  cursor: pointer;
}

.navLinks {
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}

.link {
  color: #fff;
  text-decoration: none;
  margin: 0 50px; /* Ajusta el espaciado entre los enlaces */
  transition: color 0.3s ease;

  &:hover {
    color: #ffe206;
  }
}

.link-login {
  display: none;
}

@media (max-width: 768px) {
  .mobileMenuButton {
    display: block; /* Muestra el botón del menú hamburguesa en dispositivos móviles */
  }

  .logo {
    display: none;
  }

  .link-login {
    display: none;
  }

  .link {
    display: none;
  }

  .mobileMenuButton {
    display: block; /* Muestra el botón del menú hamburguesa en dispositivos móviles */
  }
}

@media (min-width: 769px) {
  .link-login {
    display: inline-block;
  }
}