* {
  overflow: hidden;
}
.sliderItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.sliderItem::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  width: 500px;
  height: 100%;
  background: #339;
  filter: blur(150px);
}
.image {
  width: 100%;
  height: 500px;
  background-size: contain;
}

.textContainer {
  width: 600px;
  height: 100%;
  background: rgba(88, 88, 88, 0.5);
  flex-wrap: wrap;
  color: #ffe206;
  padding-left: 50px;
  top: 0px;
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  clip-path: polygon(100% 0, 68% 55%, 100% 49%, 68% 100%, 0 100%, 0% 60%, 0 0);
}
.textContainer h1 {
  font-size: 50px;
  width: 376px;
}
.textContainer h1:first-child {
  width: 400px;
}
.textContainer p {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
}
.textContainer p:last-child {
  background-color: rgb(255, 226, 6);
  padding: 5px;
  border-radius: 4px;
  color: #333;
}
body {
}
