.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1;
  justify-items: center;
  top: 70px;
  align-items: center;
  position: relative;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.paginacion {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 110px;
  width: 100%;
}

/* Contenedor principal de la tarjeta */
.productCard {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  height: 310px; /* Reducir la altura */
  width: 200px; /* Añadir un ancho fijo */
  margin: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in;
}

.productCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagen del producto */
.productImage {
  max-width: 100%; /* Asegurar que la imagen no exceda el tamaño del contenedor */
  max-height: 180px;
  height: auto;
}

/* Estilos para el nombre del producto */
.productName {
  font-size: 1.2em;
  margin-top: 8px;
}

/* Estilos para la descripción del producto */
.productDescription {
  color: #555; /* Color de texto más oscuro */
}

/* Estilos para el material y los talles */
.productDetails {
  margin-top: 6px;
}

.productDetails h3 {
  margin-bottom: 4px;
}

.productDetails p {
  margin: 10;
}

/* Estilos para el precio */
.productPrice {
  font-size: 1.1em;
  font-weight: bold;
  color: #007bff;
}

.button {
  margin-top: 6px; /* Agregar espacio entre el precio y el botón */
  padding: 4px 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para pantallas móviles */
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    top: 0; /* Ajustar según sea necesario */
    position: static; /* Ajustar según sea necesario */
  }

  .loaderContainer {
    height: 100%; /* O ajustar según sea necesario */
  }

  .paginacion {
    height: auto;
  }

  .productCard {
    width: 100%; /* O ajustar según sea necesario */
    height: auto; /* O ajustar según sea necesario */
  }
}

/* Estilos para pantallas Full HD y superiores */
@media only screen and (min-width: 1920px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .loaderContainer {
    height: 100vh;
    position: fixed;
  }

  .paginacion {
    height: 110px;
  }

  .productCard {
    width: 200px;
    height: 310px;
  }
}
