.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1;
  justify-items: center;
  top: 70px;
  align-items: center;
  position: relative;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.paginacion {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 110px;
  width: 100%;
}

/* Contenedor principal de la tarjeta */
.productCard {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  height: 350px;
  margin: 15px;
  max-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in;
}

.productCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagen del producto */
.productImage {
  max-width: 50%;
  height: auto;
}

/* Estilos para el nombre del producto */
.productName {
  font-size: 1.2em;
  margin-top: 8px;
}

/* Estilos para la descripción del producto */
.productDescription {
  color: #555; /* Color de texto más oscuro */
}

/* Estilos para el material y los talles */
.productDetails {
  margin-top: 10px;
}

.productDetails h3 {
  margin-bottom: 4px;
}

.productDetails p {
  margin: 10;
}

/* Estilos para el precio */
.productPrice {
  font-size: 1.2em;
  font-weight: bold;
  color: #007bff;
}
